.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .portfolio-item-wrapper {
    position: relative;

    .portfolio-img-background {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 350px;
      width: 100%;
    }

    .img-text-wrapper {
      position: absolute;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-align: center;
      padding: 0px 100px;

      .subtitle {
        transition: 1s ease-in-out;
        color: transparent;
        font-weight: 900;
        font-size: 1.5rem;
      }
    }

    .img-text-wrapper:hover .subtitle {
      color: $primary;
    }

    .logo-wrapper img {
      width: 50%;
      margin-bottom: 20px;
    }
  }
}
